# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Keep environment variables out of version control
.env
node_modules/
/src/generated/prisma
/backend/generated
/backend/node_modules
/backend/.DS_Store
/backend/prisma/migrations
/frontend/node_modules


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.txt